body{background-image: url("background1.jpg");
	background-size: 100%;
color: #ffffff;
font-family: Cambria;}

h1{text-align: center;}

nav a{text-decoration: none;
	background-color: rgba(68,68,68,0.5);
	width: 22%;
	display: inline-block;}
a:hover{background:  #ffffff;
	color: #444444;}
a:active{border: 3px solid #000000;}

nav a{margin: 2%;
margin-bottom: 2%;	
padding-top: 2%;
padding-bottom: 2%;
padding-left: 2%;
padding-right: 2%;
text-align: center;
border-radius: 45px;
color: #ffffff;
display: inline-block;}



