body{background-image: url("background1.jpg");
	background-size: 100%;
color: #ffffff;
font-family: Cambria;}

h1{text-align: center;}

nav a{text-decoration: none;
	background-color: rgba(68,68,68,0.5);
	width: 22%;
	display: inline-block;}
a:hover{background:  #ffffff;
	color: #444444;}
a:active{border: 3px solid #000000;}
nav a{
	box-sizing:border-box;
	display:inline-block;
	height:60px;
	color: #FFFFFF;
	background-color:#486B02;
	text-decoration: none;
	margin:1% 5% 1% 0;
	padding:1% 5%;
	border-radius: 25px;




